In [1]:
def am9():
    print('good morning team')

In [2]:
def am9():
    print('good morning team')
am9()

good morning team

In [3]:
def greet():
    print('hello')
    print('good morning')

In [4]:
def greet():
    print('hello')
    print('good morning')
greet()

hello
good morning

In [5]:
def greet():
    print('hello')
    print('good morning')
greet()

def greet():
    print('hello')
    print('good morning')
greet()

def greet():
    print('hello')
    print('good morning')
greet()

hello
good morning
hello
good morning
hello
good morning

In [7]:
def greet():
    
    print('hello good morning boss')

greet()

hello good morning boss

In [10]:
def greet():
    
    print('hello good morning boss')

greet()

greet()

greet()

greet()

hello good morning boss
hello good morning boss
hello good morning boss
hello good morning boss

In [14]:
def add(x,y):
    c = x+y
    print(c)
    
add(5,6,7,8)

TypeError: add() takes 2 positional arguments but 4 were given

In [15]:
def add(x,y):
    c = x+y
    print(c)
    
add(5,6)

11

In [17]:
def add(x,y,z):
    c=x+y+z+m
    print(c)  
add(1,4,5)

NameError: name 'm' is not defined

In [19]:
def add(x,y,z,m):
    c=x+y+z+m
    print(c)  
add(1,4,5,6)

16

In [20]:
def greet():
    print('hello')
    print('good morning')
greet()

hello
good morning

In [22]:
def add(x,y):
    c = x+y
    print(c)
add(5,6)

11

In [23]:
def greet():
    print('hello')
    print('good morning')
greet()

def add(x,y):
    c = x+y
    print(c)
add(5,6)

hello
good morning
11

In [24]:
def greet():
    print('hello')
    print('good morning')
def add(x,y):
    c = x+y
    print(c)
    
add(5,6)
greet()

11
hello
good morning

In [25]:
def greet():
    print('hello')
    print('good noon')
    
def add(x,y):
    c=x+y
    print(c)

def sub(x,y):
    d = x-y
    print(d)
    
greet()    
add(5,4)
sub(10,2)

hello
good noon
9
8

In [31]:
def add_sub(x,y):
    c = x+y
    d = x-y
    print(c)
    print(d)

add_sub(10,5)

15
5

In [30]:
def add_sub(x,y):
    c = x+y
    d = x-y
    return c,d

add_sub(10,5)

(15, 5)

In [33]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d

result = add_sub(5,4)

print(result)

(9, 1)

In [37]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d

result1,result2 = add_sub(5,4)

print(result1,result2)

9 1

In [ ]:
def add(x,y): 
    c = x+y
    print(c)
add(5,6)

## FORMAL ARGUMENT & ACTUAL ARGUMENT

In [44]:
def person(name,age):
    print(name)
    print(age)
    
person('nit',23,34)

TypeError: person() takes 2 positional arguments but 3 were given

In [45]:
def person(name,age):
    print(name)
    print(age)
    
person('nit',23)

nit
23

In [46]:
def person(name,age):
    print(name)
    print(age)
    
person(23,'nit')

23
nit

In [47]:
def person(name,age):
    print(name)
    print(age+1)
    
person(23,'nit')

23

TypeError: can only concatenate str (not "int") to str

# keyword argument

In [48]:
def person(name,age):
    print(name)
    print(age+1)
    
person(age=23, name='nit')

nit
24

In [49]:
def person(name,age):
    print(name)
    print(age+1)
    
person(age1=23, name='nit')

TypeError: person() got an unexpected keyword argument 'age1'

In [50]:
def person(name,age1):
    print(name)
    print(age1+1)
    
person(age1=23, name='nit')

nit
24

In [53]:
def person(name,age,city):
    print(name)
    print(age+1)
    print(city)
    
person(age=23, name='nit', city = 'hyd')

nit
24
hyd

In [61]:
def person(name, age=18): 
    print(name)
    print(age)
    
person('nit', 24)

nit
24